a{text-decoration:none;color: black;}

body, p, span, input, textarea, td{margin:0;padding:0;}
select::-ms-expand {display: none;}
ul{list-style: none;padding:0}


::-webkit-scrollbar {width:7px;height:0px;border:0;}
::-webkit-scrollbar-track {background : #f9f9f9;-webkit-border-radius:0px;border-radius:0px;}
::-webkit-scrollbar-thumb {height:2px;width:5px;background:#c5c6c6;-webkit-border-radius:5px;border-radius:5px;}
::-webkit-scrollbar-track-piece{width:20px;background:#f9f9f9;border-left:1px solid #ddd}


/* 테이블 */
.community_table{/*border-top:1px solid #444;font-size:14px;*/font-size:12px;font-weight:600; /*border-bottom:1px solid #bbb;*/}  /* 2018-10-29 수정 */
.community_table th{/*background:#f6f6f6;*/text-align:center;height:40px; /*height:30px; border-bottom: 1px solid #bbbbbb;*/ border-bottom: 1px solid #ddd;margin:0;padding:0;color:#505050; } /* 2018-10-29 수정 */
.community_table tr td{margin:0;/*border-top:1px solid #e7e7e7;*/color:#444;cursor: pointer;}
/*.community_table tr:hover {background:#ebf4fb;}*/

.community_table_td{font-size:11px; text-align:center;height:30px;}

.community_table_td.bold{font-weight:bold;color:#141414}
.community_table_td left{text-align:left!important;}
.community_table_td right{text-align:right!important;}
.community_table_td.focus{color:#006ecd!important;text-decoration:underline;}

.community_table_tit{width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; font-family:DotumChe;}
/*.community_table_tit_left{text-align:left;font-size:12px;font-weight:normal; line-height:23px; padding-left:3px}
.community_table_tit_right{text-align:right;font-size:12px;font-weight:normal; line-height:23px; padding-right:3px}*/

/* 2018-10-29 추가 start */

.community_table > table > thead th{background-color: #f7f7f7; border-bottom:1px solid #ddd !important; border-top:1px solid #444  !important; }
.line_th > th > span{position: relative !important; border-right:1px solid #d5d5d5; display:block}
.line_th > th:last-child > span{border-right:none;}
.line_th > th > span::after{position: absolute; left:10px; top:10px; width:3px; height: 14px}
.community_table > table tr:nth-child(even) {background-color: #f5f5f5}
.community_table_tit_left{text-align:left;font-size:12px;font-weight:normal; line-height:30px; padding-left:3px}
.community_table_tit_right{text-align:right;font-size:12px;font-weight:normal; line-height:30px; padding-right:3px;}
.community_table th table tbody tr:hover {background:#ebf4fb;}
.community_table .stock_up{color:#eb2f48 !important}
.community_table .stock_down{color:#036ece !important}
/* 2018-10-29 추가 end */

/*20181102 추가: S*/
@media (max-width: 710px) {
    .community_table > table > thead th:last-child { letter-spacing: -1.3px; white-space: nowrap; }
    .community_table tbody > tr td:first-child.community_table_tit_left { letter-spacing: -1.3px; white-space: nowrap; }
}
/*20181102 추가: E*/

/*20230811 추가*/
body.dark_mode{ background: #222;}
body > br{ display: none;}
table {font-size: 14px}
table  td, 	table  th {font-size: 14px; font-weight: bold}
.line_th th span {font-size: 14px}
.community_table_tit_left  {font-size: 14px; line-height: 1.2; height: 30px;}
.community_table > table > thead th span{ letter-spacing: -1.5px;white-space: nowrap;}
.community_table > table > tbody td.community_table_tit_left:first-child{white-space: nowrap;}
.community_table_tit_right{ line-height: 1.2;}
.dark_mode .community_table > table > thead th{background-color:#313131; border-bottom-color: #333!important; border-top-color: #666!important; color: #999;}
.dark_mode .community_table th{ border-bottom-color: #444;}
.dark_mode .line_th > th > span{border-right-color: #555;}
.dark_mode .community_table tr td{ color: #ccc;}
.dark_mode .community_table > table tr:nth-child(even){ background-color:#2c2c2c; }
.dark_mode .community_table th table tbody tr:hover{background-color:#444;}
