@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Main page
작성날짜 : 2022-02-22 강지연
참고사항 : 공통 범위를 최소화하고, 컨텐츠 스타일로 구분한다.
분류순서 : Element > Block > Layout > Plugin
속성순서 : 표시 > 위치 > 넘침/흐름 > 박스모델 > 박스모양 > 문단모양 > 기타
-------------------------------------------------------------------*/


/*----------------------------------------------------
    ## headline news list
----------------------------------------------------*/

.headline_news_list {
  margin-right: 0;
  border-top: 0;
}
.headline_news_list .news_node {
  position: relative;
}
.headline_news_list .news_node .news_item {
  display: block;
  height: auto;
  border: 0;
  padding: 0;
}
.headline_news_list .news_node.col_12:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.headline_news_list .col_4 .news_item {
  height: 300px;
  padding: 30px 24px;
}
.headline_news_list .col_4 .news_item .txt_area .news_desc {
  margin-top: 24px;
  font-size: 1.6rem;
}
.headline_news_list .news_item .related_news_item {
  font-size: 1.8rem;
}
.headline_news_list .news_node .txt_area .news_ttl {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.5;
}
.headline_news_list .news_node .news_desc {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.headline_news_list .news_node .info_group {
  line-height: 26px;
  position: absolute;
  bottom: 22px;
  right: 24px;
}
.headline_news_list .news_node:first-child {
  position: relative;
  height: 505px;
  border-bottom: 0;
  background-size: cover;
  background-position: center;
}
.headline_news_list .news_node:first-child .news_item {
  height: 100%;
  color: #fff;
  pointer-events: none;
}
.headline_news_list .news_node:first-child .news_item .thumb_area {
  width: 100%;
  height: 100%;
}
.headline_news_list .news_node:first-child .news_item .txt_area {
  width: 550px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
}
.headline_news_list .news_node:first-child .cate {
  display: block;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 1.8rem;
}
.headline_news_list .news_node:first-child .txt_area .news_ttl {
  display: -webkit-box;
  overflow: hidden;
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 1.3;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.headline_news_list .news_node:first-child .txt_area .news_desc {
  color: #fff;
}
.headline_news_list .news_node:first-child .related_news_list {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 31px;
  font-size: 1.7rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headline_news_list .news_node:nth-child(3) .news_item {
  border-bottom: 1px solid #CCCCCC;
}
.headline_news_list .news_node:nth-child(2) .news_item .txt_area .news_ttl,
.headline_news_list .news_node:nth-child(3) .news_item .txt_area .news_ttl,
.headline_news_list .news_node:nth-child(2) .news_item .txt_area .news_desc,
.headline_news_list .news_node:nth-child(3) .news_item .txt_area .news_desc {
  -webkit-line-clamp: 3;
}
.headline_news_list .news_node:nth-child(2) .news_item .txt_area .news_desc {
  color: #fff;
}
.headline_news_list .news_node:nth-child(2) {
  background: #FF891C;
  color: #fff;
  border-right: 0;
  border-bottom: 0;
}
.headline_news_list .news_node:nth-child(2) .info_group p {
  color: #fff;
}
.headline_news_list .news_node:nth-child(2) .info_group p:before {
  background: #fff;
}


/* type_bg */
.headline_news_list .news_node.type_bg {
  position: relative;
  background-position: center;
  background-size: cover;
}
.headline_news_list .news_node.type_bg:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
  height: 100%;
}
.headline_news_list .news_node.type_bg .thumb_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-size: cover;
}
.headline_news_list .news_node.type_bg .badge {

}
/* no_dim */
.headline_news_list .news_node.no_dim {
  height: auto;
  background: none;
}
.headline_news_list .news_node.no_dim:after {
  display: none;
}
.headline_news_list .news_node.no_dim .news_item {
  width: auto;
  transform: none;
  border: 1px solid #CCCCCC;
}
.headline_news_list .news_node.no_dim .news_item .thumb_area {
  width: 100%;
  height: 388px;
  background-size: cover;
  background-position: center center;
}
.headline_news_list .news_node.no_dim .cate {
  letter-spacing: 0.018em;
}
.headline_news_list .news_node.no_dim .txt_area .news_ttl {
  width: 720px;
  font-size: 3.8rem;
}
.headline_news_list .news_node.no_dim .related_news_list {
  margin-top: 28px;
}
.headline_news_list .news_node.no_dim .related_news_item {
  color: #212121;
}
.headline_news_list .news_node.no_dim.related_type .txt_area .news_ttl {
  white-space: nowrap;
  display: block;
}
.headline_news_list .news_node:first-child.no_dim .news_item .thumb_area {
  height: 388px;
}
.headline_news_list .news_node:first-child.no_dim .news_item .txt_area {
  position: static;
  transform: none;
  width: 100%;
  background: #fff;
  padding: 28px 50px;
  color: #212121;
}
.mk_head_news_group .headline_news_list .news_node:nth-child(n+5) .news_ttl {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mk_body_news_group .highlight_news_wrap + .highlight_news_wrap {
  border-top: 1px solid #cccccc;
}
.mk_body_news_group .highlight_news_list {
  position: relative;
  padding-bottom: 20px;
}
.mk_body_news_group .highlight_news_list:after {
  content: '';
  display: block;
  clear: both;
}
.mk_body_news_group .highlight_news_list:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 2px;
  background: #fff;
  pointer-events: none;
}
.highlight_news_item .txt_area {
  width: 100%;
  margin-right: 15px;
}

.highlight_news_item.type_banner .txt_area .news_ttl {
  height: auto;
}

.highlight_news_item .txt_area .news_ttl {
  height: 51px;
}

.headline_news_list .news_node:nth-child(5) {
  border-left: 1px solid #CCCCCC;
}

.headline_news_list .news_node:nth-child(6) {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
.headline_news_list .news_node .type_small {
  height: 163px;
  padding: 24px 30px;
  border-bottom: 1px solid #CCCCCC;
}
.news_node:nth-child(5) .news_desc {
  margin-bottom: 15px;
  margin-top: -2px;
  color: #5A5A5A;
  white-space: nowrap;
}

.top_news_wrap {
  margin-top: 29px;
}
.top_news_wrap .top_news_node {
  height: 72px;
  border-bottom: 1px solid #cccccc;
  font-family: "Spoqa Han Sans Neo";
  position: relative;;
}
.top_news_wrap .top_news_node .top_news_item {
  height: 100%;
  position: static;
  padding: 0;
  border-bottom: 0;
}
.top_news_wrap .top_news_node:last-child {
  border-bottom: 0;
}
.top_news_wrap .top_news_node:after {
  content: '';
  display: block;
  clear: both;
}
.top_news_wrap .top_news_node em {
  width: 27px;
  float: left;
  margin-right: 10px;
  margin-left: 4px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 23px;
  font-weight: 300;
  line-height: 71px;
}
.top_news_wrap .top_news_node .news_ttl {
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 38px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.top_news_wrap .top_news_node .state {
  font-size: 15px;
  line-height: 71px;
  order: 3;
}
.top_news_wrap .top_news_node .state img {
  vertical-align: center;
  margin-right: 5px;
}
.top_news_wrap .top_news_item.state_up .news_ttl {
  font-size: 18px;
  font-weight: bold;
}
.top_news_wrap .top_news_item.state_new .news_ttl {
  font-size: 18px;
  font-weight: bold;
}
.top_news_wrap .top_news_item.state_new .state {
  font-size: 15px;
  color: #FF003B;
  font-weight: 500;
}

.timeline_news_wrap {
  font-size: 2rem;
}
.timeline_news_wrap .timeline_news_list {
  position: relative;
}
.timeline_news_item.news_item {
  border-bottom: 0;
  padding: 0;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.timeline_news_wrap .timeline_ttl {
  font-weight: bold;
  color: #FF7A00;
  margin-top: 30px;
  margin-bottom: 15px;
  vertical-align: top;
  font-size: 1.9rem;
  letter-spacing: -0.025em;
}
.timeline_news_wrap .timeline_ttl img {
  vertical-align: top;
  margin-left: 5px;
  height: 100%;
}
.timeline_news_item.news_item .time_area {
  text-align: left;
}
.timeline_news_wrap .timeline_news_node {
  position: relative;
  padding-bottom: 30px;
  margin-left: 30px;
}
.timeline_news_wrap .timeline_news_node:after {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 142px;
  background: #E6E6E6;
  top: 10px;
  left: -30px;
  z-index: -1;
}
.timeline_news_wrap .timeline_news_node:last-child:after {
  display: none;
}
.timeline_news_node .timeline_news_item .time_area .time {
  font-weight: bold;
  font-size: 1.4rem;
}
.timeline_news_node .timeline_news_item .txt_area .news_ttl {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  line-height: 1.49;
}
.timeline_news_node:before {
  display: block;
  content: '';
  position: absolute;
  left: -32px;
  top: 11px;
  width: 5px;
  height: 5px;
  background: #000000;
  border-radius: 50%;
}
.timeline_news_node .timeline_news_item .like_info {
  color: #898989;
}

.newsletter_wrap .txt_area {
  background: #242424;
  padding: 19px;
  letter-spacing: 0.02em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.newsletter_wrap .txt_area .news_ttl {
  margin-bottom: 6px;
  font-size: 1.6rem;
  font-weight: 500;
}
.newsletter_wrap .txt_area .news_desc {
  float: left;
  margin-top: 0;
  color: #C7C7C7;
  line-height: 1.4;
  font-size: 1.4rem;
  word-break: keep-all;
  -webkit-line-clamp: 3;
}
.newsletter_wrap .type_thumb2 .news_node .news_item .thumb_area {
  position: relative;
  height: 157px;
}
.newsletter_wrap .type_thumb2 .news_node .news_item .thumb_area .thumb_txt {
  position: absolute;
  color: #fff;
  top: 26px;
  left: 23px;
  z-index: 2;
  font-size: 2.4rem;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.1;
}
.newsletter_wrap .type_thumb2 .news_node .news_item .thumb_area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
}
.newsletter_wrap .type_thumb2 .news_node .news_item .thumb_area img:first-child {
  z-index: 1;
}
.newsletter_wrap .type_thumb2 .news_node .news_item .thumb_area:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.ent_sec .type_thumb .thumb_area {
  width: 217px;
  height: 122px;
  margin-bottom: 10px;

}


.moment_sec .type_thumb .thumb_area {
  margin-bottom: 15px;
  width: 100%;
  height: 215px;
  position: relative;
}
.moment_sec .type_thumb .txt_area .cate {
  margin-bottom: 10px;
}
.moment_sec .type_thumb .txt_area .news_ttl {
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}
.moment_sec .type_thumb .thumb_area .play_time {
  width: 91px;
  height: 34px;
  background: #1D1D1D;
  color: #fff;
  line-height: 34px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  border-radius: 50px;
  text-align: center;
  font-size: 1.3rem;
}
.moment_sec .type_thumb .thumb_area .play_time:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 9px;
  background: url("../images/ic_arw_play.png");
  background-size: cover;
  margin-right: 14px;
}

/*---------------------------------------------------
    ## Special News
---------------------------------------------------*/
.special_news_wrap:after {
  display: block;
  content: '';
  clear: both;
}
.special_news_wrap .grid > .col:first-child {
  padding-right: 0;
}
.special_news_list {
  height: 100%;
}
.special_news_wrap .type_thumb2 .thumb_area {
  margin-bottom: 0;
  height: 365px;
  width: 100%;
}
.special_news_wrap .type_thumb2 .txt_area {
  height: 206px;
  padding: 30px 32px;
}
.special_news_wrap .type_thumb2 .txt_area .news_ttl {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.38;
}
.special_news_wrap .type_thumb2 .info_group {
  color: #ccc;
}
.special_news_wrap .type_thumb2 .info_group .time_info:after {
  background: #cccccc;
}
.special_news_wrap .grid > .col.col_3 {
  height: 158px;
}
.special_news_wrap .news_item {
  height: 100%;
  width: 100%;
  border-right: 1px solid #cccccc;
  padding: 24px 25px;
  align-items: flex-start;
}
.special_news_wrap .news_node:first-child .news_item {
  border-bottom: 0;
  display: block;
  border-right: 0;
  padding: 0;
}
.special_news_wrap .grid > .col:nth-child(n+2) .news_item .txt_area {
  overflow: hidden;
  max-height: 7.4rem;
}
.special_news_wrap .grid > .col.col_6 {
  height: 138px;
  box-sizing: border-box;
}
.special_news_wrap .banner_link {
  text-align: center;
  position: relative;
}
.special_news_wrap .banner_link .thumb_area {
  width: 185px;
  height: 121px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.special_news_wrap .banner_link img {
  width: 100%;
  height: 100%;
}
.special_news_wrap .news_node:last-child .news_item {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.special_news_wrap .txt_area .news_ttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4;
}
.special_news_wrap .txt_area .news_desc {
  display: block;
  overflow: hidden;
  margin-top: 4px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #5A5A5A;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.special_news_wrap .type_thumb2 .txt_area .info_group {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.special_news_wrap .info_group {
  position: absolute;
  right: 25px;
  bottom: 23px;
}
.special_news_wrap .grid > .col.col_6:first-child {
  height: inherit;
}

.opinion_news_sec .news_node .news_item.type_thumb .thumb_area {
  width: 100%;
  height: 140px;
}


/* Opinion */
.opinion_news_sec .news_item .thumb_area img {
  margin-bottom: 10px;
}
.opinion_news_sec .news_node:last-child .news_item.type_thumb .thumb_area {
  margin-bottom: 10px;
}

.opinion_news_wrap .type_underline {
  margin-bottom: 22px;
}
.opinion_news_wrap .news_node {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 16px;
  padding-bottom: 11px;
}
.opinion_news_list .news_node .news_item {
  border-bottom: 0;
  padding: 0;
}
.opinion_news_list .news_node .news_item .txt_area .cate {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #083E6E;
}

.opinion_news_list .news_node .news_item .txt_area .news_ttl {
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.opinion_news_wrap .ad_wrap {
  margin-bottom: 20px;
}

.photo_list {
  height: 316px;
}
.photo_list .photo_node {
  background: #fff;
}
.photo_list .thumb_area {
  height: 226px;
  width: 100%;
  margin-bottom: 20px;
}
.photo_list img {
  position: static;
  transform: none;
}
.photo_list .txt_area {
  letter-spacing: 0.02em;
  text-align: center;
}
.photo_list .txt_area em {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #FF7A00;
}
.photo_list .txt_area .photo_ttl {
  font-size: 1.9rem;
  font-weight: 500;
}
.photo_news_sec .swiper-container-horizontal > .swiper-pagination-bullets,
.photo_news_sec .swiper-pagination-custom,
.photo_news_sec .swiper-pagination-fraction {
  bottom: 0;
}
.photo_news_sec .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #B9B9B9;
  opacity: 1;
}
.photo_news_sec .swiper-pagination-bullet-active {
  background: #212121;
}

.news_sec.stock_news_sec {
  margin-bottom: 30px;
}


.series_news_sec {
  margin: 60px 0 55px;
}
.se_news_list .news_node {
  height: 316px;
}
.se_news_list .news_node .news_item {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #fff;
}
.se_news_list .news_node .news_item:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.se_news_list .news_node .cate {
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 45px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.se_news_list .news_node .cate:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FF7A00;
  margin-right: 14px;
}
.se_news_list .news_node .news_ttl {
  position: absolute;
  z-index: 1;
  left: 40px;
  bottom: 72px;
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: 300;
}
.se_news_list .news_node .news_ttl b {
  font-weight: bold;
}
.se_news_list .news_node .news_item:after {
  content: '';
  display: block;
  width: 197px;
  height: 1px;
  background: #fff;
  bottom: 40px;
  right: 0;
  position: absolute;
}

