@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Real estate CSS
작성날짜 : 2022-03-29 김하연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
.contents.realestate_page {
  padding-top: 20px;
}
.realestate_page .news_node.ad_wrap {
  position: relative;
  margin-top: 9px;
}
.realestate_page .sec_head .sec_ttl + .sec_info{
  padding-bottom: 14px;  }
.realestate_page .news_node.ad_wrap:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -10px;
  height: 2px;
  background: #fff;
}
.realestate_page .news_node.ad_wrap .news_item {
  padding: 0;
}

.realestate_page .highlight_news_sec.news_sec{
  margin-top: 0;}
