@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Mypage
작성날짜 : 2022-04-05 강지연
참고사항 : 공통 범위를 최소화하고, 컨텐츠 스타일로 구분한다.
분류순서 : Element > Block > Layout > Plugin
속성순서 : 표시 > 위치 > 넘침/흐름 > 박스모델 > 박스모양 > 문단모양 > 기타
-------------------------------------------------------------------*/

.contents.my_page {
  min-height: calc(var(--minH) * 1px - 143px);
  padding-top: 20px;
  padding-bottom: 40px;
  letter-spacing: -0.025em;
  box-sizing: border-box;
}
.gnb_fixed ~ #container .contents.my_page,
.gnb_fixed ~ #container .contents.myinfo_page,
.gnb_fixed ~ #container .contents.resign_page {
  min-height: calc(var(--minH) * 1px - 120px);
}
/*
.contents.resign_page {
  margin-bottom: 185px;
}*/

#header.is_fix ~ #container .contents.list_page.my_page {
  margin-top: 91px;
}

.contents.list_page.my_page {
  padding-top: 0;
  letter-spacing: -0.025em;
}

.mypage_list {
  border-top: 8px solid #f5f5f5;
}

.mypage_node_wrap {
  padding: 18px 15px 21px;
}

.mypage_cate {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 23px;
}

.mypage_item {
  font-size: 1.5rem;
  padding-bottom: 21px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 19px;
}

.mypage_node .mypage_item:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}
#header.is_fix ~ #container .bookmark_page {
  margin-top: 95px;
}
.bookmark_page {
  letter-spacing: -0.025em;
}

.my_page .ttl_area {
  margin-bottom: 18px;
}

.my_page .ttl_area h3 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 6px;
}

.my_page .basic_info_wrap {
  margin-bottom: 40px;
}

.my_page .basic_info_wrap .info_wrap_body .label_list {
  padding-bottom: 16px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 15px;
}

.my_page .basic_info_wrap .info_wrap_body .label_list.email.is_hide {
  display: none;
}

.basic_info_wrap .info_wrap_body .label_list.certify {
  display: none;
}

.basic_info_wrap .info_wrap_body .label_list.certify.is_active {
  display: block;
}

.basic_info_wrap .info_wrap_body .label_list.radio dt {
  margin-bottom: 13px;
}

.label_list dt {
  margin-bottom: 10px;
}

.label_list dt,
.label_list dd {
  font-size: 1.4rem;
}

.input_area.type_hrz {
  display: flex;
}

.input_area.type_hrz .input_box {
  flex-grow: 1;
  margin-right: 8px;
}
.input_area.type_hrz.radio .input_box {
  flex-grow: 0;
  margin-right: 30px;
}
.input_area.type_hrz .btn {
  flex-shrink: 0;
}

.myinfo_page .btn {
  border: 1px solid #CCCCCC;
}

.myinfo_page .btn.strong {
  border: 0;
}

.info_wrap_head.type_underline {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.pw_info_wrap {
  margin-bottom: 31px;
}

.pw_info_wrap .label_list {
  margin-bottom: 26px;
}

.pw_info_wrap .label_list:last-child {
  margin-bottom: 24px;
}

.sns_info_wrap {
}

.sns_info_wrap .info_wrap_head.type_underline {
  margin-bottom: 0;
}

.sns_info_wrap .label_list {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}

.sns_info_wrap .label_list:last-child {
  border-bottom: 0;
}

.sns_info_wrap .label_list dt {
  margin-bottom: 0;
  font-size: 1.5rem;

}

.email_join_group {
  background: #F8F8F8;
  padding: 24px;
  padding-bottom: 30px;
}

.email_join_group .ttl_area {
  margin-bottom: 8px;

}

.email_join_group .ttl {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.email_join_group .input_area.type_hrz {
  display: block;
  margin-bottom: 20px;
}

.email_join_group .input_area.type_hrz:last-child {
  margin-bottom: 24px;
}

.email_join_group .join_form {
}

.email_join_group .input_area.type_hrz label {
  margin-bottom: 8px;
  display: block;
  font-size: 1.4rem;
}

.identity_info_wrap {
  margin-bottom: 40px;
  margin-top: 25px;
}

.identity_info_wrap .info_wrap_head.type_underline {
  margin-bottom: 19px;
}

.identity_info_wrap .label_list.is_check {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
  margin-bottom: 17px;
  border-bottom: 1px solid #CCCCCC;
}

.identity_info_wrap .label_list.is_check dt {
  margin-bottom: 0;
  line-height: 1.5;
}

.identity_info_wrap .label_list.is_check dt .label {
  margin-bottom: 7px;
}

.type_addr .input_area.type_hrz {
  margin-bottom: 8px;
}

.type_addr .input_area.type_hrz:nth-child(n+2) .input_box {
  margin-right: 0;
}

.type_addr .input_area.type_hrz:last-child {
  margin-bottom: 24px;
}

.subscribe_info_wrap {
  padding-bottom: 15px;
}

.subscribe_info_wrap .info_wrap_head.type_underline {
  margin-bottom: 4px;
}

.subscribe_info_wrap .label_list {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}

.subscribe_info_wrap .label_list dt {
  margin-bottom: 0;
}

.subscribe_info_wrap .label_list dt .label {
  margin-bottom: 7px;
}

.subscribe_info_wrap .label_list dt .data.on {
  font-weight: bold;
}

.contents.myinfo_page .ic {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.contents.myinfo_page .ic.mail {
  background: url("../../assets/images/ic_mail.png");
  background-size: cover;
}

.contents.myinfo_page .ic.naver {
  background: url("../../assets/images/ic_naver_s.png");
  background-size: cover;
}

.contents.myinfo_page .ic.facebook {
  background: url("../../assets/images/ic_facebook_s.png");
  background-size: cover;
}

.contents.myinfo_page .ic.google {
  background: url("../../assets/images/ic_google_s.png");
  background-size: cover;
}

.contents.myinfo_page .ic.apple {
  background: url("../../assets/images/ic_apple_s.png");
  background-size: cover;
}

.contents.myinfo_page .ic.kakao {
  background: url("../../assets/images/ic_kakao_s.png");
  background-size: cover;
}

.resign_page .ttl_area {
  margin-bottom: 4px;
}

.resign_page .ttl_area h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.resign_page input[type="radio"] + span {
  padding-left: 34px;
}

.resign_page .radio_group .input_box {
  font-size: 1.5rem;
  padding: 20px 0;
  border-bottom: 1px solid #CCCCCC;
  color: #212121;
}

.resign_page .radio_group .input_box:last-child {
  border-bottom: 0;
}

.resign_page .input_area.check {
  margin-bottom: 40px;
  margin-top: 14px;
}

.resign_page .input_area.check span {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 34px;
}

.resign_page .dot_list {
  padding: 10px 14px;
  font-size: 1.3rem;
  line-height: 1.5;
  background: #F2F2F2;
  margin-top: 14px;
}

.resign_page .dot_list li {
  margin-bottom: 6px;
  display: flex;
}

.resign_page .dot_list li:last-child {
  margin-bottom: -2px;
}

.resign_page .dot_list li:before {
  content: '';
  display: inline-block;
}

.bookmark_page .input_area.search.type_round {
  margin-bottom: 21px;
}

.bookmark_page .latest_news_list .news_item {
  display: flex;
  justify-content: space-between;
}

.bookmark_page input[type="checkbox"] + span {
  padding-left: 32px;
}

.bookmark_page .latest_news_list .news_item .input_area.check {
  margin-top: -17px;
  width: 32px;
  flex-shrink: 0;
}

.bookmark_page .latest_news_list .news_item .input_area.check label {
  line-height: 0;
}

.bookmark_page .latest_news_list .news_item .txt_area {
  flex: 1;
}

.bookmark_page .manage_area {
  display: none;
}

.manage_area, .select_area {
  display: flex;
  color: #212121;
  font-size: 1.4rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.bookmark_page .select_area {
  display: none;
}

.bookmark_page .select_area.is_active {
  display: block;
}

.bookmark_page .manage_area b, .bookmark_page .select_area b {
  color: #FF7A00;
  font-weight: 500;
}

.bookmark_page .length_info:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #CCCCCC;
  margin: -1px 12px;
}

.bookmark_page .sec_head .input_area.check label:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #CCCCCC;
  margin: -1px 12px;
}

.check_pw_page .btn_area {
  margin-top: 32px;
}

.check_pw_page .input_area {
  margin-bottom: 8px;
}

.check_pw_page .ttl_area p {
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: #5A5A5A;
  margin-top: 7px;
}

.label_list.add_area input[type="text"]:read-only {
  background: #F8F8F8;
}