@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Layout
작성날짜 : 2022-03-16 강지연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/* popular */
.contents.list_page.popular_home{
    padding-top: 20px;
}
.popular_home .sec_head em b {
    font-weight: bold;
}
.popular_home .type_thumb{
    margin-bottom: 12px;
}
.popular_home .news_item.type_num em {
    color: #898989;
}
.type_thumb .news_num {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 28px;
    height: 28px;
    background: #FF7A00;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
    line-height: 28px;
}
.popular_news_list+.popular_news_list{
    margin-top: 4px;
}
.popular_news_list+.popular_news_list li:first-child{
    border-top: 1px solid #ccc;
}
.popular_news_list+.popular_news_list li:last-child .news_item{
    border-bottom: none;
}
.popular_news_sec .datepicker{
    display: none;
}
.popular_news_sec .sec_head.has_datepicker .sec_ttl {
    border-bottom: 0 none;
}
.popular_news_sec .sec_head em {
    display: block;
    text-align: right;
    font-size: 1.4rem;
    margin: 9px 0 16px;
}
.popular_news_sec .tab_wrap {
    margin-left: -15px;
    margin-right: -15px;
}
