@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Author CSS
작성날짜 : 2022-03-24 김하연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	## Search
-------------------------------------------------------------------*/
.contents.search_list,
.contents.search_detail {
  padding-top: 10px;
}

.search_result_head .input_box input {
  line-height: 48px;
}

.search_result_head .input_area.search .search_btn {
  margin-top: 4px;
}

.search_result_head .related_search {
  margin-top: 12px;
  font-family: "Montserrat", "Spoqa Han Sans Neo", sans-serif;
}
.search_result_head .related_search > .btn {
  display: none;
}
.search_result_head .related_search.type_2 {
  position: relative;
  max-height: 37px;
  overflow: hidden;
}
.search_result_head .related_search.type_2.is_active {
  max-height: inherit;
}
.search_result_head .related_search.type_2 > .btn {
  display: block;
  position: absolute;
  bottom: 1px;
  right: 0;
  background: #fff;
  box-shadow: -5px 0 5px rgb(255,255,255);
}
.search_result_head .related_search.type_2.is_active > .btn{
  bottom: -1px;
}
.search_result_head .related_search.type_2.is_active > .btn .arw {
  transform: rotate(-90deg);
}
.search_result_head .related_search ul {
  margin-left: -10px;
  margin-bottom: -8px;
  font-size: 0;
}

.search_result_head .related_search li {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 1.3rem;
  color: #5A5A5A;
  vertical-align: top;
}

.search_result_head .related_search li:first-child {
  color: #212121;
  font-weight: 500;
}
.search_result_head .related_search li:first-child:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 10px;
  background: #CCC;
  font-size: 0;
  vertical-align: middle;
  margin: -2px 8px 0;
}

.search_result_head .related_search li:first-child + li {
  margin-left: 0;
}

.search_result_head + .tab_wrap {
  margin-top: 40px;
}

.search_list .txt_area .cate {
  margin-bottom: 4px;
}

.search_list .news_ttl b {
  font-weight: 500;
  color: #FF7A00;
}

.search_result_sec .sec_head {
  z-index: 2;
}
#search_result .mk_body_news_group .news_sec:first-child .sec_ttl {
  padding-top: 20px;
}

.search_result_sec .sec_ttl {
  position: relative;
  padding: 20px 0 14px;
  border-bottom: 1px solid #000;
}

.search_result_sec .sec_ttl p {
  font-size: 1.8rem;
  font-weight: 700;
}

.search_result_sec .sec_ttl p em {
  display: inline-block;
  font-weight: 500;
  color: #FF7A00;
  font-style: normal;
  vertical-align: middle;
  margin-top: -2px;
}

.sec_head .filter_btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 50%;
  margin-top: -8px;
}

.economic_term_wrap .news_ttl {
  display: block;
  white-space: nowrap;
  height: auto;
  padding-right: 0;
}

.economic_term_wrap .news_desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.5rem;
  color: #5A5A5A;
  line-height: 1.4;
  margin-top: 8px;
}

.economic_term_wrap .news_item,
.person_info_wrap .news_item {
  padding: 15px 0;
}
.economic_term_wrap .news_item .news_ttl {
  font-weight: 500;
}

.person_info_wrap .news_item {
  display: block;
}

.person_info_wrap .news_item:after {
  display: block;
  clear: both;
  content: '';
}

.person_info_wrap .txt_area {
  float: left;
}

.person_info_wrap .txt_area .name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.person_info_wrap .txt_area .name + dl {
  margin-top: 8px;
}

.person_info_wrap .thumb_area {
  float: left;
  width: 80px;
  margin-right: 10px;
}

.person_info_wrap .news_node:last-child .news_item {
  border-bottom: 1px solid #ccc;
}

.person_info_wrap .txt_info {
  text-align: right;
  padding-top: 8px;
}

.drop_down_wrap .dropdown_node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search_list .filter_dropdown_wrap .dropdown_list {
  padding: 10px 20px;
}

.search_list .filter_dropdown_wrap .dropdown_item {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

}

.search_list .filter_dropdown_wrap label.dropdown_item {
  line-height: 20px;
}

.search_list .filter_dropdown_wrap label.dropdown_item span {
  padding-left: 0;
}

.search_list .filter_dropdown_wrap label.dropdown_item span:before,
.search_list .filter_dropdown_wrap label.dropdown_item span:after {
  display: none;
}

.search_list .dropdown_node.is_active .dropdown_item::after {
  content: '';
  width: 20px;
  height: 20px;
  background-position: -130px -70px;
}

.search_list .filter_info dl > div {
  padding-left: 0;
  display: flex;
}


.search_list .filter_info dl dt {
  position: static;
  width: 72px;
}

.search_list .input_area.search input {
  border: 0;
  padding: 0;
}

.search_list .datepicker_filter {
  display: block;
}

.drop_down_wrap.period .dropdown_node.is_active .dropdown_item::after {
  display: none;
}
.person_info_wrap > .btn_area {
  margin: 25px 0 40px;
}

.search_detail .sec_head  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.person_info_group {
  padding: 15px 0;
  border-bottom: 1px solid #CCCCCC;
}
.person_info_group:after {
  display: block;
  content: '';
  clear: both;
}
.search_detail .person_info_wrap .txt_area .name {
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.search_detail .person_info_wrap .txt_area .desc {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.search_detail .person_info_wrap .badge {
  height: 18px;
  padding: 0 5px;
  margin-left: 5px;
  margin-right: 0;
  border: 1px solid #ff7a00;
  background: transparent;
  font-size: 1.1rem;
  color: #ff7a00;
  line-height: 16px;
}
.person_info_group .ttl {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
.person_info_group ul {
  margin-bottom: -6px;
}
.person_info_group li {
  font-size: 1.4rem;
  margin-bottom: 6px;
}
.search_detail .info_box_wrap {
  margin: 0;
  padding: 14px;
}
.search_detail .info_box_wrap .dot_list li {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.3rem;
}
.search_detail .info_box_wrap .dot_list li b {
  font-weight: 500;
}

.economic_term_wrap .news_item .news_ttl {
  font-weight: 500;
}
.search_detail .info_box_wrap .btn{
  margin: 0 5px;
  border-bottom: 1px solid;
  font-size:1.3rem;
  color: #898989;
  vertical-align: 1px;
}