@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Layout
작성날짜 : 2022-03-18 강지연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/* special_edition */

.news_node.col_6:nth-of-type(n+3){
    margin-top: 16px;
}

.special_edt_page .news_item .txt_area .news_ttl {
    height: auto;
}

.special_edt_wrap .next .ic {
    background: url("../images/ic_arw_right_02.png");
    width: 6px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.special_edt_wrap .prev .ic {
    background: url("../images/ic_arw_right_02.png");
    width: 6px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%) rotate(-180deg);
}

.overview_news_wrap .news_node:last-child .news_item {
    border-bottom: 0;
}

.overview_news_wrap.news_node .news_item .cate {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.overview_news_wrap .type_thumb.news_item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .2));
    opacity: 0.65;
    z-index: 1;
}

.overview_news_wrap .type_thumb.news_item {
    padding: 0;
    height: 100%;
    width: auto;
    margin: 0 -15px 5px;
}

.overview_news_wrap .type_thumb .txt_area {
    position: absolute;
    width: auto;
    bottom: 32px;
    left: 23px;
    right: 23px;
    z-index: 1;
    margin-top: 0;
}

.overview_news_wrap .txt_area .cate {
    font-family: 'Montserrat', 'Spoqa Han Sans Neo';
    font-weight: 500;
    letter-spacing: -0.018em;
    margin-bottom: 4px;
    font-size: 1.3rem;
}
.overview_news_wrap .type_thumb .txt_area .cate{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.overview_news_wrap .type_thumb .txt_area .news_ttl {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #fff;
}
.car_sec .type_thumb .txt_area,
.car_sec~.news_sec .type_thumb .txt_area{
    margin-top: 0;
    padding: 10px 0 14px;
    border-bottom: 1px solid #ccc;
}
.se_page .latest_news_list .txt_area .news_desc {
    white-space: nowrap;
    display: block;
    margin-top: 5px;
}

.se_page .txt_area .cate {
    margin-bottom: 12px;
}


.se_page .latest_news_list .news_node .news_item {
    height: unset;
    padding: 20px 0;
}

.se_page .latest_news_list .news_node:first-child .news_item {
    padding-top: 0;
}

.se_page .related_news_list .related_news_item {
    font-size: 1.4rem;
    color: #212121;
}

.se_page .ic_related {
    background: url("../../assets/images/ic_relation02.png");
    width: 8px;
    height: 7px;
}

.se_page .related_news_list {
    margin-top: 15px;
    position: relative;
    z-index:1;
}
.special_list_wrap .ad_wrap {
    border-top: 2px solid #FFFFFF;
    margin-top: -1px;
}
.special_list_wrap .ad_wrap .news_item {
    border-bottom: 0;}