@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Layout
작성날짜 : 2022-03-16 강지연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/* sports */
.sports_headline_list .news_item.type_thumb2{
    padding: 0;
}
.sports_headline_list .txt_area .cate{
    margin-bottom: 4px;
}
.sports_headline_list .news_item.type_thumb2 .txt_area .cate{
    margin-bottom: 8px;
}
.sports_headline_list+.sports_headline_list{
    margin-top: 20px;
}
.sports_headline_list .type_thumb .txt_area{
    margin-top: 11px;
    padding-bottom: 14px;
}
.sports_headline_list .news_node:last-child .type_thumb .txt_area {
    padding-bottom: 4px;
}
.sports_headline_list+.sports_headline_list .news_node+.news_node{
    padding-top: 15px;
    border-top: 1px solid #ccc;
}