@charset "utf-8";
/*-------------------------------------------------------------------
파일정의 : Stock CSS
작성날짜 : 2022-03-29 김하연
참고사항 : 이 파일은 설정값만 정의한다.
분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
속성순서 : 표시 > 넘침/흐름 > 위치 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
.contents.stock_page {
  padding-top: 20px;
  padding-bottom: 80px;
}
.contents.stock_page .highlight_news_sec.news_sec {
  margin-top: 0;
}

.contents.stock_indicators,
.contents.stock_global,.contents.kospi_page{
  padding-top: 0;
  padding-bottom: 0;
}
.stock_page .news_node.ad_wrap {
  margin-bottom: 2px;
}
.stock_page .highlight_news_item.type_banner{
  margin-bottom: 2px;
}
.stock_page .sec_head .sec_ttl + .sec_info{
  padding-bottom: 14px;  }
.highlight_news_list .news_node.ad_wrap {
  position: relative;
  margin-top: 9px;
}
.highlight_news_list .news_node.ad_wrap:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -10px;
  height: 1px;
  background: #fff;
}
.highlight_news_list .news_node.ad_wrap .news_item {
  padding: 0;
}
.best_view_news_sec .news_node:last-child.ad_wrap .news_item {
  padding: 0;
}
.best_view_news_sec .news_node.ad_wrap {
  position: relative;
  margin-top: 14px;
}
.best_view_news_sec .news_node.ad_wrap:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -15px;
  height: 1px;
  background: #fff;
}
.stock_wrap{
  font-family: 'Spoqa Han Sans Neo';
  margin-top: 20px;
}
.stock_head .ttl_area{
  position: relative;
  font-size: 1.2rem;
  color: #5A5A5A;
}
.stock_head .ttl .name{
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: middle;
  color: #212121;
}
.stock_head .ttl span{
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: 1px;
}
.stock_head .ttl_area .time{
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.stock_area.is_plus{
  color: #FC5345;
}
.stock_area.is_minus{
  color: #1262FF;
}
.stock_area .current_stock b{
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 3px;
}
.current_stock+.stock_info_group{
  float: none;
  margin-top: 8px;
}
.stock_area .stock_info_group{
  font-size: 0;
}
.stock_area .stock_info_group li{
  display: inline-block;
  vertical-align: top;
}
.stock_area .stock_info_group span:first-child{
  margin-right: 8px;
}
.stock_area .stock_info_group span{
  display: inline-block;
  font-size: 1.3rem;
  vertical-align: middle;
}
.stock_info_group .has_arw:before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 6px;
  background-size: 7px 6px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
}
.is_plus .stock_info_group .has_arw:before{
  background-image: url(../images/ic_stock_up.png);
}
.is_minus .stock_info_group .has_arw:before{
  background-image: url(../images/ic_stock_down.png);
}
.stock_head .ttl_area + .stock_area{
  margin-top: 16px;
}
.stock_head .label_list{
  padding-top: 10px;
  margin-top: 22px;
  border-top: 1px solid #ccc;
  font-size: 1.3rem;
  color: #5A5A5A;
}
.stock_head .label_list:after{
  display: block;
  clear: both;
  content: '';
}
.stock_head .label_list dt{
  float: left;
}
.stock_head .label_list dt b{
  display: block;
  color: #212121;
  font-weight: 700;
  margin-bottom: 7px;
}
.stock_head .label_list dd{
  float: right;
}
.stock_wrap .is_plus:before,
.stock_wrap .is_minus:before{
  display: none;
}
.stock_wrap .is_plus{
  color: #FC5345;
}
.stock_wrap .is_minus{
  color: #1262FF;
}
.label_list dd{
  font-size: 0;
}
.label_list .type_item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  text-align: center;
}
.label_list .type_item+.type_item:before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 22px;
  margin-top: -11px;
  background: #ccc;
}
.label_list .type_item .name{
  font-size: 1.3rem;
  color: #5A5A5A;
}
.label_list .type_item .gap_info{
  margin-top: 7px;
}
.label_list .type_item .gap_info b{
  font-size: 1.4rem;
  font-weight: 500;
}
.stock_head+.stock_body{
  margin-top: 30px;
}
.label_list_group .label_list{
  font-size: 1.3rem;
}
.label_list_group .label_list+.label_list{
  margin-top: 11px;
}
.label_list_group .label_list:after{
  display: block;
  content: '';
  clear: both;
}
.label_list_group .label_list dt{
  float: left;
  color: #5A5A5A;
}
.label_list_group .label_list dd{
  float: right;
  font-size: 1.3rem;
}
.label_list_group .label_list dd b{
  font-weight: 500;
}
.label_list_group .label_list dd small{
  font-size: 1.1rem;
  color: #5A5A5A;
  vertical-align: 1px;
}
.stock_body .detail_stock_wrap:after{
  display: block;
  clear: both;
  content: '';
}
.stock_body .label_list_group{
  float: left;
  width: 50%;
}
.stock_body .label_list_group:first-child{
  padding-right: 16px;
}
.stock_body .label_list_group:last-child{
  padding-left: 16px;
  border-left: 1px solid #CCC;
}
.stock_tbl table{
  text-align: center;
  font-family: 'Spoqa Han Sans Neo';
  color: #5A5A5A;
}
.stock_tbl table .is_minus:before,
.stock_tbl table .is_plus:before{
  display: none;
}
.stock_tbl table .has_arw:before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 6px;
  background-size: 7px 6px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
}
.stock_tbl table .is_minus.has_arw:before{
  background-image: url(../images/ic_stock_down.png);
}
.stock_tbl table .is_plus.has_arw:before{
  background-image: url(../images/ic_stock_up.png);
}
.stock_tbl table th{
  font-size: 1.3rem;
  line-height: 40px;
  padding: 0 5px;
}
.stock_tbl table td{
  font-size: 1.4rem;
  padding: 14px 5px;
  border-top: 1px solid #ccc;
}
.stock_tbl table td.is_plus{
  color: #FC5345;
}
.stock_tbl table td.is_minus{
  color: #1262FF;
}
.stock_tbl .tbl_area + .btn_area{
  margin-top: 20px;
}
.stock_page .mk_body_news_group{
  padding-bottom: 0;
}
.stock_page .mk_body_news_group .info_box_wrap{
  margin-top: 64px;
}
.page_ttl{
  padding: 16px 0;
  line-height: 1.5;
}
.stock_tbl table td.f_blk{
  color: #212121;
}
.stock_tbl table td small{
  font-size: 1.2rem;
}
.tab_wrap + .tbl_wrap.stock_tbl{
  padding-top: 3px;
}
.tab_wrap + .tbl_wrap.stock_tbl tr:first-child td{
  border-top: none;
}
.label_list_wrap dl{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Spoqa Han Sans Neo';

}
.label_list_wrap dt,
.label_list_wrap dd p{
  font-size: 1.4rem;
}
.label_list_wrap .current_stock{
  font-size: 1.6rem;
}
.label_list_wrap .gap_info.is_minus{
  color: #1262FF;
}
.label_list_wrap .gap_info.is_plus{
  color: #FC5345;
}
.label_list_wrap .is_minus:before,
.label_list_wrap .is_plus:before{
  display: none;
}
.label_list_wrap .has_arw:before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 6px;
  background-size: 7px 6px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
}
.label_list_wrap .is_minus .has_arw:before{
  background-image: url(../images/ic_stock_down.png);
}
.label_list_wrap .is_plus .has_arw:before{
  background-image: url(../images/ic_stock_up.png);
}
.label_list_wrap .stock_info_group span:first-child{
  margin-right: 0;
}
.label_list_wrap .stock_info_group{
  text-align: right;
}
.label_list_wrap .gap_info{
  margin-top: 5px;
}
.label_list_wrap dt .date{
  display: block;
  color: #5A5A5A;
  margin-top: 7px;
}
.label_list_wrap .label_list{
  padding: 20px 0;
}
.label_list_wrap .label_list+.label_list{
  border-top: 1px solid #ccc;
}