/* ===== Main ===== */


/* main_today_stock  */
.today_stock_wrap {
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 15px;
    width: 100%;
    height: 340px;
    position: relative;
    font-family: 'Spoqa Han Sans Neo';
    padding-top: 30px;
}


.today_stock_wrap .chart .chart_node {
    margin: 0 20px 0 20px;
}

.today_stock_wrap .chart .chart_area {
    width: 100%;
}

.today_stock_wrap .chart .chart_area .name {
    font-size: 22px;
    font-weight: 600;
}

.today_stock_wrap .chart .chart_area .quotient {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.today_stock_wrap .chart .chart_area .quotient span:first-child {
    display: block;
    width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.today_stock_wrap .chart .chart_area .quotient span:nth-child(2) {
    width: 100px;
    display: block;
    text-align: right;
}

.today_stock_wrap .chart .chart_area .quotient span:nth-child(3) {
    width: 100px;
    display: block;
    text-align: right;
}

.today_stock_wrap .chart .chart_area .chart_01 {
    width: 100%;
    max-height: 230px;
    display: flex;
    justify-content: left;
}

.today_stock_wrap .chart .chart_area .chart_01 img {
    min-height: 230px;

}

.today_stock_wrap .world .world_stock_area {
    width: 100%;
}

.today_stock_wrap .world .col_world {
    margin: 0 20px 0 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;
}

.today_stock_wrap .world li:first-child {
    padding-top: 2px;

}

.today_stock_wrap .world .col_world.noline {
    border-bottom: 0px ;
}

.today_stock_wrap .world  .col_world .quotient {
    display: flex;
    width: 100%;
    margin-top: 15px;
    align-items: center;
}

.today_stock_wrap .world .col_world .quotient span:first-child {
    width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.today_stock_wrap .world .col_world .quotient span:nth-child(2) {
    width: 100px;
    display: block;
    text-align: right;
}

.today_stock_wrap .world .col_world .quotient span:nth-child(3) {
    width: 100px;
    display: block;
    text-align: right;
}

.today_stock_wrap .world .name {
    font-size: 22px;
    font-weight: 500;
}

.today_stock_wrap .world .date {
    margin-top: 5px;
    float:right;
}

/* main_volume high */
.main_home .volume_high_frame .stock_table.noline .price,
.main_home .volume_high_frame .stock_table.noline .fl,
.main_home .volume_high_frame .stock_table.noline .volume {
    text-align: right;
}

.main_home .volume_high_frame .stock_table.noline {
    font-size: 13px;
}

.main_home .volume_high_frame .swiper-pagination {
    position: static;
    margin-top: 10px;
}

/* main_top_news */
.contents .top_news_wrap .type_thumb2 .txt_area .news_ttl {
    font-size: 2.4rem;
}

.contents .top_news_wrap .type_thumb2 .txt_area .news_desc {
    font-size: 1.5rem;
    color: #c8c8c8;
}

/* main_news_best */
.main_home .best_news_sec .type_underline {
    border-bottom: 0px;
}

/* main youtube */
.main_home .youtube_wrap .youtube_list .news_node .news_item .thumb_area2 {
    height: 7em;
}

.main_home .youtube_wrap .youtube_list .news_node .news_item .thumb_area2 img {
    height: 100%;
    max-height: 7em;
    object-position: center;
}

.main_home .youtube_wrap .youtube_list .news_node .news_item .txt_area {
    margin-top: 8px;
}

.main_home .youtube_wrap .youtube_list .news_node .news_item .txt_area .news_ttl {
    font-size: 15px;
}

.main_home .youtube_wrap .youtube_list .news_node {
    margin-bottom: 15px;
}

.main_home .youtube_wrap .youtube_list .news_node:last-child,
.main_home .youtube_wrap .youtube_list .news_node:nth-child(3) {
    margin-bottom: 0px;
}

/* main top10 news */
.main_home .top10_news_wrap {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.main_home .top10_news_wrap .top10_news_node {
    height: 82px;
    border-bottom: 1px solid #cccccc;
    font-family: "Spoqa Han Sans Neo";
    position: relative;
}

.main_home .top10_news_wrap .top10_news_node .top10_news_item {
    height: 100%;
    position: static;
    padding: 0;
    border-bottom: 0;
}

.main_home .top10_news_wrap .top10_news_node em {
    width: 27px;
    float: left;
    margin-right: 10px;
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 23px;
    font-weight: 400;
    line-height: 81px;
    color: #FF7A00;
}

.main_home .top10_news_wrap .top10_news_node .news_ttl {
    font-size: 15px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* main Ai news */
.main_home .ai_news_wrap {
    margin-top: -10px;
    margin-bottom: 30px;
}

.main_home .ai_news_wrap .ai_news_node {
    height: 82px;
    border-bottom: 1px solid #cccccc;
    font-family: "Spoqa Han Sans Neo";
    position: relative;
}

.main_home .ai_news_wrap .ai_news_node .ai_news_item {
    height: 100%;
    position: static;
    padding: 0;
    border-bottom: 0;
}

.main_home .ai_news_wrap .ai_news_node:after {
    content: '';
    display: block;
    clear: both;
}

.main_home .ai_news_wrap .ai_news_node .news_ttl {
    font-size: 15px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* main mk_signal */
.main_home .mk_signal_sec .stock_table_wrap {
    padding: 0;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table {
    font-size: 15px;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table tr {
    height: 80px;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table td span {
    display: block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-wrap:break-word;
    overflow: hidden;
    line-height: 2.2rem;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table .stock_name {
    font-weight: 500;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table .codenum {
    color: #999999;
    padding-top: 5px;
}

.main_home .mk_signal_sec .stock_table_wrap .stock_table .right_name {
    text-align: right;
}

/* main exchange_rate */
.main_home .exchange_sec .type_underline {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.main_home .exchange_sec .stock_table_wrap {
    padding: 0;
}

.main_home .exchange_sec .stock_table_wrap .stock_table2 td:first-child {
    background-color: #f8f8f8;
}

.main_home .exchange_sec .stock_table_wrap .stock_table2 .date {
    text-align: right;
}

/* ===== News_home ===== */
/* top4 news */
.news_home .top4_news_wrap {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.news_home .top4_news_wrap .top4_news_node {
    height: 82px;
    border-bottom: 1px solid #cccccc;
    font-family: "Spoqa Han Sans Neo";
    position: relative;
}

.news_home .top4_news_wrap .top4_news_node .top10_news_item {
    height: 100%;
    position: static;
    padding: 0;
    border-bottom: 0;
}

.news_home .top4_news_wrap .top4_news_node .news_ttl {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* cate best news */
.news_home .news_home_best_sec .best_news_wrap .news_best_list {
    background-color: #fff;
    padding: 10px 0 4px 0;
    border: 0;
}

/* newslist page */
.latest_news_list.news_sub .news_node {
    border-bottom: 1px solid #d9d9d9;
    padding: 14px 0 10px 0;
    min-height: 102px;
}

.latest_news_list.news_sub .news_node:first-child{
    margin-top: -15px;
}

.latest_news_list.news_sub .news_node:last-child{
    border-bottom: 0;
}

.latest_news_list.news_sub .news_node .news_item {
    border-bottom: 1px solid #d9d9d9;
}

.latest_news_list.news_sub .txt_area .news_ttl {
    font-size: 1.6rem;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 2.4rem;
    height:48px;
    white-space: pre-wrap;
    word-wrap:break-word;
}

.latest_news_list.news_sub .news_node .txt_area {
    width: 100%;
    
}

.latest_news_list.news_sub .thumb_area {
    display: inline-block;
    width: 120px;
    height: 4.8em;
    overflow: hidden;
}

.latest_news_list.news_sub .thumb_area img {
    width: 100%;
    max-height: 4.8em;
    border: 0;
    object-fit: cover;
    object-position: top;
}

/* newslist page : disclosure */
.latest_news_list.disclosure .news_node {
    padding: 14px 0 10px 0;
    min-height: 76px;
}

.latest_news_list.disclosure .news_node:first-child{
    margin-top: 10px;
}

.latest_news_list.disclosure .txt_area .news_ttl {
    font-size: 1.6rem;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    height:100%;
    white-space: pre-wrap;
    word-wrap:break-word;
    padding-right: 0px;
}

/* newslist page : invest */
.latest_news_list.invest .news_node {
    padding: 14px 0 10px 0;
    min-height: 76px;
}

.latest_news_list.invest .news_node:first-child{
    margin-top: 10px;
}

.latest_news_list.invest .txt_area .news_ttl {
    font-size: 1.6rem;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    height:100%;
    white-space: pre-wrap;
    word-wrap:break-word;
    padding-right: 0px;
}

.input_area.invest_search {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 20px;
}

.input_area.invest_search .input_box.invest {
    width: 100%;
    height: 34px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    background-color:  #fff;
    font-weight: 300;
}

.input_area.invest_search .input_box.invest input {
    width: 100%;
    height: 32px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 20px;
}

.input_area.invest_search .input_box.invest input::placeholder {
    color: #999;
    font-weight: 400;
    font-size: 14px;
}

.btn_wrap.invest {
    width: 100%;
    height: 34px;
    border: 1px solid #212121;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
}

.btn_wrap.invest .btn {
    width: 100%;
}

.latest_news_list.invest .cate_info::after,
.latest_news_list.invest .c_info::after,
.latest_news_list.invest .name_info::after {
    padding-left: 10px;
    content: 'I';
    clear: both;
    color: #999;
}

.latest_news_list.invest .info_group p {
    padding-right: 8px;
}

/* news view detail */
.view_wrap .txt_area {
    font-family: 'Spoqa Han Sans Neo';
}

.view_wrap .txt_area .news_ttl {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 700;
    -webkit-line-clamp: 4;
}

.view_wrap .dec_area {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
}

.view_wrap .dec_area p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap:break-word;
}

.view_wrap .dec_area_report {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
}

.view_wrap .dec_area_report p {
    /*   text-overflow: ellipsis; */
    display: -webkit-box;
    /*   -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    /*   overflow: hidden; */
    word-wrap:break-word;
}


.view_info_group {
    margin-top: 30px;
    text-align: left;
    color: #999;
    font-weight: 400;
    font-size: 14px;
}

.view_info_group .reporter {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

.view_info_group span {
    padding-right: 5px;
}

.news_page.detail .view_wrap {
    border-bottom: 1px solid #212121;
    padding-bottom: 65px;
}

.news_page.detail .news_detail_wrap {
    font-size: 1.8rem;
    font-weight: 400;
    color: #212121;
    line-height: 1.55;
    word-break: break-word;
}

.news_page.detail .view_wrap .time_info span  {
    padding-right: 15px;
    padding-top: 30px;
}

.news_page.detail .news_detail_wrap .thumb_area {
    display: block;
    position: relative;
    float: none;
    max-width: 930px;
    text-align: center;
    margin: 0 auto;
}

.news_page.detail .news_detail_wrap figure {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.news_page.detail .news_detail_wrap figcaption {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #838383;
    text-align: left;
}

.news_page.detail .news_detail_wrap iframe {
    width: 100%;
}

.news_page.detail .news_detail_wrap > span > strong {
    display: block;
}

.news_page.detail .news_detail_wrap p {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 17px;
}

.news_page.detail .news_detail_wrap > p b {
    position: relative;
    display: inline-block;
}

.news_page.detail  .news_detail_wrap > p b:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #212121;
    content: '';
    display: block;
    bottom: 5px;
}

.view_ic {
    display: block;
    float: right;
    margin-top: 20px
    
}

.news_page.detail .latest_news_list.detail .news_node .txt_area .news_ttl {
    font-size: 24px;
    font-weight: 500;
    -webkit-line-clamp: 1 ;
    line-height: 3.6rem;
}

.news_page.detail .latest_news_list.detail .news_node .txt_area .news_desc {
    line-height: 22px;
}

.view_wrap .code_area {
    margin-top: 30px;
    text-align: left;
    font-size: 18px;
}

.view_wrap .code_area span {
    padding-right: 30px;
}

.view_wrap .code_area span:first-child {
    font-size: 20px;
    font-weight: 500;
}

.view_sec .btn_wrap.invest {
    width: 100%;
    float: right;
    margin-right: 0px !important;
}

.live_comment_wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.view_type .news_ttl {
    font-size: 24px;
}

.view_type .news_desc {
    font-size: 15px;
    color: #666;
}

.news_page.detail .best_news_wrap .news_best_list {
    background-color: #fff;
    padding: 0;
    border: 0px;
    border-radius: 0px;
}

.news_page.detail .best_news_wrap .news_best_list .news_ttl {
    font-size: 17px;
}

/* report view detail */
.view_wrap.report .info_group {
    margin-top: 30px;
    align-items: center;
    display: block;

} 

.view_wrap.report .news_ttl {
    -webkit-line-clamp: 2;
} 

.view_wrap.report .info_group .s_name_info {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
}

.view_wrap.report .info_group .code_info {
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
}

.view_wrap.report .info_group .s_cate_info {
    display: inline-block;
}

.view_wrap .dec_area_report {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
}

.view_wrap .dec_area_report p {
    /*   text-overflow: ellipsis; */
    display: -webkit-box;
    /*   -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    /*   overflow: hidden; */
    word-wrap:break-word;
}


.news_page.report .view_wrap {
    border-bottom: 1px solid #212121;
    padding-bottom: 30px;
}

.news_page.report .report_info_group {
    margin-top: 20px;
}
.news_page.report .report_info_group p {
    padding-top: 10px;
}

.news_page.report .btn_wrap.invest {
    height: 46px;
}

/* ===== price page ===== */
.contents.price_page .sec_head .sec_ttl {
    display: flex;
    align-items: center;
}
.contents.price_page .sec_head .code_info {
    font-size: 16px;
    padding-left: 10px;
    align-items: center;
    color: #858585;
}

.code_btn {
    display: inline-block;
    border: 1px solid #d9d9d9;
    font-weight: 400;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-family: 'Spoqa Han Sans Neo';
}

.contents.price_page .stock_price_wrap {
    display: flex;
    margin: 30px 0 20px 0;
    font-family: 'Spoqa Han Sans Neo';
    align-items: center;
}

.contents.price_page .stock_price_wrap .price {
    font-size: 30px;
    font-weight: 500;
    margin-right: 30px;
}

.contents.price_page .stock_price_wrap .icon {
    font-size: 16px;
    margin-top: 4px;
    margin-right: 30px;
}

.contents.price_page .stock_price_wrap .fl {
    font-size: 16px;
    margin-top: 4px;
}

.contents.price_page .type_01 .stock_table.asking .num_c {
    text-align: center;
}

/* ===== Domestic page ===== */
/* Domestic main */
.tabs_menu.domestic {
    width: 84%;
    margin-left: 25px;
}

.today_stock_wrap.domestic {
    height: 420px;
}

/* Domestic index */
.domestic_page .stock_table2 .price,
.stock_table.item_l .bg {
    text-align: left;
}

.input_area.domestic_index_01 {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 20px;
}

.chart_area.domestic_index {
    width: 100%;
    display: block;
}

.domestic_index .stock_table.no_ellipsis td {
    padding:0 5px 0 5px;
    overflow: visible ;
    word-break:break-all;
    white-space: normal;
}

.domestic_index .m01  {
    line-height: 30px;
    font-size: 15px;
    font-family: 'Spoqa Han Sans Neo';
}

.domestic_index .stock_table.no_ellipsis.h5 tr {
    height: 65px;
}

.domestic_index .m01 .st, .contents.domestic_index .m01 .st_s {
    font-weight: 600;
}

/* Domestic ranking */
.tabs_wrap.tbl_left.type_01 .tabs_menu {  
    position: absolute;
    width: 170px;
}

.tabs_wrap.tbl_left.type_02 .tabs_menu { 
    position: absolute;
    width: 120px;
}

.tabs_wrap.tbl_left.type_03 .tabs_menu { 
    position: absolute;
    width: 180px;
}

.tabs_wrap.tbl_left.type_03 .tabs_menu .tm:last-child { 
    margin-left: -5px;
}

.tabs_wrap.tbl_left.type_04 .tabs_menu { 
    position: absolute;
    width: 200px;
}

.tabs_wrap.tbl_left.type_04 .tabs_menu .tm:first-child { 
    width: 34px;
}

.tabs_wrap.tbl_left.type_04 .tabs_menu .tm:last-child { 
    width: 78px;
    margin-left: -5px;
}

.tabs_wrap.tbl_left.type_04 .tabs_menu .tm.bar { 
    width:2px;
}


.domestic_ranking .stock_table.no_ellipsis td {
    padding:0 5px 0 5px;
    overflow: visible ;
    word-break:break-all;
    white-space: normal;
}

.domestic_ranking .stock_table.h3 tr {
    height: 60px;
}

/* Domestic popular */
.domestic_popular .stock_table.issue tr {
    height: 60px;
}

.domestic_popular .stock_table.issue .issue_info {
    font-size: 12px;
    color: #858585
}

.domestic_popular .stock_table.issue .issue_tit {
    font-size: 15px ;
}

/* Domestic trends */
.domestic_trends .in_area.trade {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.domestic_trends .in_area.trade .domestic_index_01 {
    padding: 0;
    width: 100%;
}

.domestic_trends .in_area.trade .domestic_index_01 .nice-select {
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 0px;
}

.domestic_trends .in_area.trade .space {
    width: 100%;
    text-align: center;
    font-size: 13px !important;
}

.domestic_trends .in_area.trade .open_calender {
    width: 100%;
}

.domestic_trends .in_area.code_search {
    width: 100%;
}

.domestic_trends .in_area.code_search .input_box.invest {
    width: 100%;
}

.domestic_trends .in_area.code_search .input_box.invest input {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 5px;
    height: 34px;
}

.domestic_trends .stock_n_cate_group {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
}

.domestic_trends .stock_n_cate_group .stock_n {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    word-break:break-all;
}

.domestic_trends .stock_n_cate_group .stock_cate {
    margin-top:10px;
}

/* Domestic etc */
.domestic_etf .stock_table.etf .order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.domestic_etf .stock_table.etf .small {
    font-size: 6px;
    color: #999;
    padding-left: 5px;
    line-height: 8px;
}

.domestic_etf .stock_table.etf .black  {
    color: #212121;
}

.stock_table.no_ellipsis td { 
    padding:0 5px 0 5px;
    overflow: visible ;
    word-break:break-all;
    white-space: normal;
}

.domestic_all_stocks .tabs_wrap.tbl_left.type_02 .tabs_menu .tm:last-child { 
    width: 155px;
}

.stock_table.h3 tr {
    height: 60px;
}

.tabs_wrap.tbl_left.type_05 .tabs_menu { 
    position: absolute;
    width: 130px;
}

.tabs_wrap.tbl_left.type_05 .tabs_menu .tm:last-child { 
    margin-left: 5px;
}

/* ===== world_home ===== */
.world_home .best_news_wrap .news_best_list {
    background-color: #fff;
    padding: 0;
    border: 0px;
    border-radius: 0px;
}

.world_home .best_news_wrap .news_best_list .news_ttl {
    font-size: 17px;
}

.world_home .stock_table.world tr {
    height: 64px;
}

.world_home .stock_table.world td {
    height: 64px;
    line-height: 16px;
}

.world_home .stock_table_wrap .stock_table2 .date {
    text-align: right;
}

/* world detail */
.world_detail .stock_table.world_detail .current_stock {
    font-size: 24px;
}

.world_detail .stock_table.world_detail tr:first-child > td {
    border-right: 0px;
    
}

.world_detail .stock_table.world_detail span {
    display: inline-block;
    padding-right: 20px;
}

.world_detail .stock_table_wrap.noborder {
    border-top: 0px;
}

/* world marketindex */
.world_marketindex .stock_table.world_detail2 .current_stock {
    font-size: 20px;
}

.world_marketindex .stock_table.world_detail2 tr:first-child {
    border-right: 0px;
    height: 20px;
}

.world_marketindex .stock_table.world_detail2 tr:last-child  {
    border-right: 0px;
    height: 40px;
}

.world_marketindex .stock_table_wrap.noborder {
    border-top: 0px;
}

.world_marketindex .stock_table.h3 tr {
    height: 60px;
}

/* ===== cryptocurrency ===== */
.cryptocurrency .stock_table_wrap.cryptocurrency .stock_table td {
    text-align: center;
}

.cryptocurrency .stock_table_wrap.cryptocurrency {
    padding: 0px;
}
.cryptocurrency .stock_table_wrap.cryptocurrency .stock_table .bg {
    height: 80px;
    line-height: 20px;
}


.cryptocurrency .stock_table_wrap.cryptocurrency .stock_table .c_name {
    font-size: 16px;
}

.cryptocurrency .stock_table_wrap.cryptocurrency .stock_table .price {
    font-size: 18px;
}
.cryptocurrency .coin_wrap {
    display: flex;
    justify-content: space-between;
}

.cryptocurrency .coin_wrap li {
    width:49%;
}

.cryptocurrency .coin_accordion_area .show_tb {
    margin-top: -1px;
    cursor: pointer;
}

.cryptocurrency .coin_accordion_area .hide_tb {
    margin-top: -1px;
}

.cryptocurrency .coin_accordion_area .hide_tb tr:first-child > td {
    height: 30px;
    line-height: 20px;
    padding-top: 30px;
}

.cryptocurrency .coin_accordion_area .t_time {
    font-size: 12px;
    color: #999;
}

.cryptocurrency .coin_accordion_area .stock_table td {
    height: 50px;
}

.cryptocurrency .coin_accordion_area .stock_table .big {
    height: 270px;
}

.cryptocurrency .coin_accordion_area .stock_table .st {
    font-weight: 500;
    font-size: 14px;
}

.cryptocurrency .coin_accordion_area .stock_table .tabcontents .chart {
    max-height: 200px;
    overflow:hidden;
}

.cryptocurrency .coin_accordion_area .stock_table .tabcontents .chart img {
    max-height: 200px;
    object-fit:cover;
}

.cryptocurrency .notify_wrap {
    font-size: 13px;
    line-height: 17px;
    color: #858585;
}

/* AD */
.ad_box {
    width: 100%;
    text-align: center; 
    padding: 0px 0;
    margin: 0 auto;
}

.ad_wrap.view .ad_box {
    width: 100%;
    text-align: center; 
    padding: 20px 0 50px 0;
    margin: 0 auto;
}

/* ===== Tooltip ===== */
.layer_tooltip {display:block; opacity:0; background-color: rgba(0, 0, 0, 1); width: 100%; position:absolute; z-index:-1;transition:all 0.8s;}
.layer_tooltip {text-align:left; color:#fff; font-size:13px; word-break:break-all; word-wrap:break-word; font-weight: 300; padding: 10px 10px; margin-top: -40px;} 
.on.layer_tooltip {opacity:1; background-color: rgba(0, 0, 0, 0.9); z-index:99999;} 
.layer_tooltip.first {width: 97%; }

/* ===== result page ===== */
.result_no {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    height: 200px;
    position: relative;
    font-family: 'Spoqa Han Sans Neo';
    text-align: center;
    padding: 50px 10px 0 10px;
}

.result_no p:first-child {
    font-size: 20px;
    line-height: 2.4rem;
}
.result_no p:last-child {
    margin-top: 10px;
    font-size: 15px;
    line-height: 2.0rem;
}

.sec_ttl  {
    display: block;
    max-width: 82%;
    overflow: hidden;
}

.sec_ttl .code_name  {
    word-break:break-all
}

.txt_break_none {
    text-overflow: unset !important;
    -webkit-line-clamp: unset !important;
    overflow: unset !important;
}

